<% const { userAuthenticated, name, username, profilePhoto } =
locals.sessionUser || {}; const compressedProfilePhoto =
profilePhoto?.replace('upload/', 'upload/w_40,h_40,c_auto,q_auto/f_auto/'); %>

<header class="top-app-bar" data-top-app-bar>
  <% if (locals.route === '/createblog') { %>
  <button
    class="icon-btn filled-tonal"
    aria-label="Önceki sayfaya git"
    data-back-btn
  >
    <span class="material-symbols-rounded" aria-hidden="true"
      >chevron_left</span
    >
    <div class="state-layer"></div>
  </button>
  <% } %>

  <a href="/" class="logo">
    <img
      src="/images/logo-light.svg"
      width="98"
      height="24"
      alt="Emmi"
      class="light"
    />
    <img
      src="/images/logo-dark.svg"
      width="98"
      height="24"
      alt="Emmi"
      class="dark"
    />
  </a>

  <div class="trailing-action-wrapper">
    <% if (userAuthenticated) { %> <% if (locals.route !== '/createblog') { %>
    <a href="/createblog" class="btn btn-fill">
      <span class="material-symbols-rounded leading-icon">edit</span>
      <p class="label-large">Yaz</p>
      <div class="state-layer"></div>
    </a>
    <% } %>

    <div class="menu-wrapper" data-menu-wrapper>
      <button class="icon-btn" data-menu-toggler>
        <div class="avatar">
          <% if (compressedProfilePhoto) { %>
          <img
            src="<%= compressedProfilePhoto %>"
            width="40"
            height="40"
            alt="<%= name %>"
            class="img-cover"
          />
          <% } else { %>
          <p class="title-medium"><%= name.charAt(0) %></p>
          <% } %>
        </div>
        <div class="state-layer"></div>
      </button>

      <div class="menu" data-menu>
        <div class="list-item small">
          <div class="avatar">
            <% if (compressedProfilePhoto) { %>
            <img
              src="<%= compressedProfilePhoto %>"
              width="40"
              height="40"
              alt="<%= name %>"
              class="img-cover"
            />
            <% } else { %>
            <p class="title-medium"><%= name.charAt(0) %></p>
            <% } %>
          </div>
          <div>
            <p class="label-small text-primary truncate-oneline">
              <%= username %>
            </p>
            <p class="body-large text-on-surface"><%= name %></p>
          </div>
          <div class="state-layer"></div>
          <a
            href="/profile/<%= username %>"
            title="<%= name %>"
            class="list-item-link"
          ></a>
        </div>

        <div class="divider"></div>

        <a href="/dashboard" class="menu-item">
          <span class="icon material-symbols-rounded" aria-hidden="true"
            >dashboard</span
          >
          <p class="label-large">Gösterge paneli</p>
          <div class="state-layer"></div>
        </a>
        <a href="/readinglist" class="menu-item">
          <span class="icon material-symbols-rounded" aria-hidden="true"
            >bookmark</span
          >
          <p class="label-large">Kaydedildi</p>
          <div class="state-layer"></div>
        </a>
        <a href="/settings" class="menu-item">
          <span class="icon material-symbols-rounded" aria-hidden="true"
            >settings</span
          >
          <p class="label-large">Ayarlar</p>
          <div class="state-layer"></div>
        </a>

        <div class="divider"></div>

        <form action="/logout" method="post">
          <button type="submit" class="menu-item">
            <span class="icon material-symbols-rounded" aria-hidden="true"
              >logout</span
            >
            <p class="label-large">Çıkış yap</p>
            <div class="state-layer"></div>
          </button>
        </form>
      </div>
    </div>
    <% } else { %>
    <a href="/login" class="btn btn-fill">
      <p class="label-large">Giriş yap</p>
      <div class="state-layer"></div>
    </a>

    <a href="/register" class="btn btn-fill">
      <p class="label-large">Hesap oluştur</p>
      <div class="state-layer"></div>
    </a>
    <% } %>
  </div>

  <!-- İlerleme Çubuğu -->
  <div class="progress-bar" data-progress-bar>
    <div class="progress-active-indicator"></div>
    <div class="progress-track"></div>
  </div>
</header>
