<% const{ profilePhoto:{ url:profilePhotoURL }={}, name, username, email, bio
}=locals.currentUser; %>

<!DOCTYPE html>
<html lang="tr">
  <head>
    <%- include('../layouts/head',{ title: 'Ayarlar | Emmi'}) %>,
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <!--
    #Üst uygulama çubuğu
    -->
    <%- include("../partials/top_app_bar")%>

    <main class="main">
      <!--
    #Home 
    -->
      <article class="page settings-page">
        <div class="container">
          <h2 class="headline-small page-titlr text-on-surface">Ayarlar</h2>
          <div class="settings-wrapper">
            <div class="settings-card">
              <form class="settings-form" data-basic-info-form>
                <div class="title-wrapper">
                  <h3 class="headline-small text-on-surface">Temel bilgiler</h3>
                  <button
                    type="submit"
                    class="btn filled-tonal"
                    data-basic-info-submit
                  >
                    <p class="slabel-large">Değişiklikleri kaydet</p>
                    <div class="state-layer"></div>
                  </button>
                </div>

                <p class="body-large text-on-surface-variant">
                  Profil fotoğrafı
                </p>

                <div class="image-field-wrapper avatar-image-field">
                  <label
                    for="profilePhoto"
                    class="label label-large text-on-surface-variant"
                  >
                    <input
                      type="file"
                      name="profilePhoto"
                      id="profilePhoto"
                      accept="image/png,image/jpeg,image/jpg"
                      data-image-filed
                    />
                    <span class="material-symbols-rounded leading-icon">
                      cloud_upload
                    </span>
                    fotoğraf yükle
                  </label>

                  <div class="image-preview" data-image-preview></div>
                  <button
                    type="button"
                    class="icon-btn filled-tonal"
                    data-image-preview-clear
                  >
                    <span class="material-symbols-rounded">delete</span>
                    <div class="state-layer"></div>
                  </button>
                </div>

                <div class="wrapper">
                  <div class="text-field-wrapper">
                    <label for="name" class="label body-large">Tam isim</label>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      autocomplete="name"
                      placeholder=""
                      value="<%=name%>"
                      required
                      class="body-large text-field"
                    />
                  </div>

                  <div class="text-field-wrapper">
                    <label for="username" class="label body-large"
                      >Kullanıcı adı</label
                    >
                    <input
                      type="text"
                      name="username"
                      id="username"
                      autocomplete="username"
                      placeholder=""
                      value="<%=username%>"
                      required
                      class="body-large text-field"
                    />
                  </div>
                </div>

                <div class="text-field-wrapper">
                  <label for="email" class="label body-large"
                    >E-posta adresi</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    autocomplete="email"
                    placeholder=""
                    value="<%=email%>"
                    required
                    class="body-large text-field"
                  />
                </div>

                <div class="text-field-wrapper">
                  <label for="bio" class="label body-large">Biyografi</label>
                  <input
                    type="text"
                    name="bio"
                    id="bio"
                    placeholder=""
                    value="<%=bio%>"
                    maxlength="240"
                    class="body-large text-field"
                  />
                </div>
              </form>
            </div>

            <div class="settings-card">
              <form class="settings-form" data-password-form>
                <div class="title-wrapper">
                  <h3 class="headline-small text-on-surface">Şifre değiştir</h3>
                  <button
                    type="submit"
                    class="btn filled-tonal"
                    data-password-submit
                  >
                    <p class="slabel-large">Değişiklikleri kaydet</p>
                    <div class="state-layer"></div>
                  </button>
                </div>

                <div class="text-field-wrapper">
                  <label for="old-password" class="label body-large"
                    >Eski şifre</label
                  >
                  <input
                    type="password"
                    name="old-password"
                    id="old_password"
                    autocomplete="current-password"
                    placeholder=""
                    required
                    class="body-large text-field"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
    </main>
    <!--
    #Footer
    -->
    <%- include("../layouts/footer")%>
    <div class="snackbar-wrapper" data-snackbar-wrapper></div>
  </body>
</html>
